<div class="app-root">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over"
                 [fixedInViewport]="true">
      <mat-nav-list *ngIf="currentUser$ | async">
        <a mat-list-item (click)="sidenav.toggle(); logout()">Logout</a>
        <a mat-list-item (click)="sidenav.toggle(); goToMainCalendar();">Semaine familiale</a>
        <a mat-list-item (click)="sidenav.toggle();">Agenda (soon...)</a>
        <a mat-list-item (click)="sidenav.toggle(); goToSettings();">Settings</a>
        <a mat-list-item (click)="sidenav.toggle()" (click)="pushNotificationService.askForNotificationPermission()">Ask for Push Notification Permission</a>
        <a mat-list-item (click)="sidenav.toggle()" (click)="pushNotificationService.displayConfirmNotification()">Test Push Notification</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" *ngIf="currentUser$ | async">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <h1 class="example-app-name">{{ (currentMoment$ | async)?.month() }} - V17</h1> -->
        <h1 class="example-app-name">{{ currentMonth | titlecase }} - V17</h1>
        <button mat-icon-button *ngIf="router.url.split('?')[0] === '/';" (click)="goToToday()">
          <mat-icon>event</mat-icon>
        </button>
      </mat-toolbar>

      <main [ngClass]="{'isLogged': currentUser$ | async}">
        <router-outlet #o="outlet"></router-outlet>
      </main>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
