// @import 'app-material-theme';

// @import 'app-material-buttons';
// @import 'app-material-dialogs';
// @import 'app-material-icons';
// @import 'app-material-notifications';
// @import 'app-material-select';
// @import 'app-material-tables';
// @import 'app-material-tabs';
// @import 'app-material-tooltips';
// @import 'app-skeletons';
// @import 'app-slider-swiper';
// @import 'app-startup-loader';
@import 'app-spinners';
@import 'app-fonts';


/*
===============
    General
===============
*/
// @TODO : https://medium.com/@aditya_tyagi/import-fonts-in-an-angular-app-the-easy-right-way-ae9e99cab551
$roboto-font-path: "~roboto-fontface/fonts";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

*:not(input):not(textarea) { // to make it work for iOS
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html, body {
  height: 100%;
  background-color: #3f51b5;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  // display: grid;
  // justify-items: center;
  // align-items: center;
  // background-color: $mycloud-bg-color-darker;

  p {
    margin: 0;
    padding: 0;
  }
}

mc-root {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;*

  &.maintenance-mode {
    top: 0px; // no place for header (= disabled) when app is in maintenance mode
  }
}

.mc-color-primary {
  // color: $mycloud-primary;
}

/* change chrome autocomplete color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}

/* header */
header {

}

/* main */
main {

}

/* tooltips */
.mat-tooltip {
  font-size: 14px!important;
}

/* colors */
.bg.blue {
  background-color: rgb(121, 134, 203);
}
.bg.tomate {
  background-color: rgb(213, 0, 0);
}
.bg.banane {
  background-color: rgb(246, 191, 38);
}
.bg.myrtille {
  background-color: rgb(63, 81, 181);
}
.bg.sauge {
  background-color: rgb(51, 182, 121);
}

.bg.hoverable.blue:hover {
  background-color: lighten(rgb(121, 134, 203), 10%);
}
.bg.hoverable.tomate:hover {
  background-color: lighten(rgb(213, 0, 0), 10%);
}
.bg.hoverable.banane:hover {
  background-color: lighten(rgb(246, 191, 38), 10%);
}
.bg.hoverable.myrtille:hover {
  background-color: lighten(rgb(63, 81, 181), 10%);
}
.bg.hoverable.sauge:hover {
  background-color: lighten(rgb(51, 182, 121), 10%);
}